<!DOCTYPE html>
{% load static %}
<html>
<head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet"> <!-- 폰트 -->
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <title>주가예측 기반 금융 거래 자동화</title>
  <style>

      h1{
        font-family: 'Jua', sans-serif;
        font-size: 50px;
      }
        .topmenu {
            margin-left: auto; margin-right: 0px;
            font-family: 'Jua', sans-serif;
            font-size: 23px;
        }
      .sele_table{
          margin-left: auto;
          margin-right: auto;
          text-align:center;
      }
      .sele_title{
          width: 150px;
          margin: 100px;
      }
      .list_div{
          border:solid 1px;
          height: 500px;
      }
      .list_table{
          width: 100%;
      }
      .list_elem{
        width: 100%;
        height: 30px;
      }
      .search{
        
          width: 400px;
          height: 30px;
          margin-right: 5px;
      }
      .search_btn{
          width: 80px;
          height: 35px;
          font-family: 'Jua', sans-serif;
            font-size: 23px;
      }
      .view{
        width: 700px;
        height: 500px;
        border: solid 1px;
      }
      .stock_form{
          margin: 20px;
      }
      .container{
        font-family: 'Jua', sans-serif;
      }
  </style>
</head>

<body>
    <div >
      {% block content %}
      <table class="topmenu"><!--최상단 회원명|HOME|마이페이지-->
          <tr>
              {% if user.is_authenticated %}
              <td>
                  <a href="#" style="color:black;">{{ user.username }}  </a>
              <td>|</td>
              <td><a href="{% url 'logout' %}">로그아웃</a></td>
              <td>|</td>
              <td><a href="{% url 'home' %}">HOME</a></td>
              <td>|</td>
              <td><a href="{% url 'mypage' %}">마이페이지</a></td>
              {% else %}
              <td><a href="{% url 'home' %}">HOME</a></td>
              <td>|</td>
              <td><a href="{% url 'login' %}">로그인</a></td>
              <td>|</td>
              <td><a href="{% url 'signup' %}">회원가입</a></td>
          
              {% endif %}
          </tr>
      </table><!--최상단 회원명|HOME|마이페이지 끝-->
      {% endblock %}
    </div>
    <div class="container" style="margin-top:40px;">
      <div class="row"style="margin:10px;">
        <div class="col">
          <h1 style="margin-right: 60px;">종목 선정         </h1>
        </div>
        <div class="col">
          <input type="text" class="search"placeholder="종목 입력">
                <button class="search_btn">검색</button>
        </div>
      </div>
      <table class="table"><!--가장 큰 테이블 틀-->
        <tr>
            <td>
                <div class="cont_div"style="border:solid gray 1px;border-radius:10px">
                    <table>
                        <tr>
                            <div class="row">
                         <div class="col-2">
                           <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                             <a class="nav-link active" id="v-pills-1st-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">삼성전자</a>
                             <a class="nav-link" id="v-pills-1_2-tab" data-toggle="pill" href="#v-pills-1_2" role="tab" aria-controls="v-pills-1_2" aria-selected="false">네이버</a>
                             <a class="nav-link" id="v-pills-2nd-tab" data-toggle="pill" href="#v-pills-2nd" role="tab" aria-controls="v-pills-2nd" aria-selected="false">카카오</a>
                             <a class="nav-link" id="v-pills-3rd-tab" data-toggle="pill" href="#v-pills-3rd" role="tab" aria-controls="v-pills-3rd" aria-selected="false">한전</a>
                             <a class="nav-link" id="v-pills-4st-tab" data-toggle="pill" href="#v-pills-4rd" role="tab" aria-controls="v-pills-4rd" aria-selected="false">현대건설</a>
                             <a class="nav-link" id="v-pills-5st-tab" data-toggle="pill" href="#v-pills-5rd" role="tab" aria-controls="v-pills-5rd" aria-selected="false">sk하이닉스</a>
                             <a class="nav-link" id="v-pills-6st-tab" data-toggle="pill" href="#v-pills-6rd" role="tab" aria-controls="v-pills-6rd" aria-selected="false">NCsoft</a>
                             <a class="nav-link" id="v-pills-7st-tab" data-toggle="pill" href="#v-pills-7rd" role="tab" aria-controls="v-pills-7rd" aria-selected="false">LG전자</a>
                            </div>
                         </div>
                         <div class="col-9">
                           <div class="tab-content" id="v-pills-tabContent">
                             <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                 <img src="{% static 'samsung.PNG' %}" alt="">
                             </div>
                             <div class="tab-pane fade" id="v-pills-1_2" role="tabpanel" aria-labelledby="v-pills-1_2-tab">
                                <img src="{% static 'naver.PNG' %}" alt="">
        
                             </div>
                             <div class="tab-pane fade" id="v-pills-2nd" role="tabpanel" aria-labelledby="v-pills-2nd-tab">
                                <img src="{% static 'kakao.PNG' %}" alt="">
                             </div>
                             <div class="tab-pane fade" id="v-pills-3rd" role="tabpanel" aria-labelledby="v-pills-3rd-tab">
                                <img src="{% static 'korea_e.PNG' %}" alt="">
                             </div>
                             <div class="tab-pane fade" id="v-pills-4rd" role="tabpanel" aria-labelledby="v-pills-4rd-tab">
                                <img src="{% static 'hyundai_.PNG' %}" alt="">
                             </div>
                             <div class="tab-pane fade" id="v-pills-5rd" role="tabpanel" aria-labelledby="v-pills-5rd-tab">
                                <img src="{% static 'hynix.PNG' %}" alt="">
                             </div>
                             <div class="tab-pane fade" id="v-pills-6rd" role="tabpanel" aria-labelledby="v-pills-6rd-tab">
                                <img src="{% static 'ncsoft.PNG' %}" alt="">
                             </div>
                             <div class="tab-pane fade" id="v-pills-7rd" role="tabpanel" aria-labelledby="v-pills-7rd-tab">
                                <img src="{% static 'lg.PNG' %}" alt="">
                             </div>
                           </div>
                         </div>
                       </div>
                        </tr>
                     
                    </table>
                 </div>
            </td>
        </tr>
      </table><!--가장 큰 테이블 틀 끝-->
    </div>
    
      
    </body>
</html>
